$primary: #394760;
$grey: #ececec;
$grey-dark: #363636;
$light: #ffffff;
$dark: #151515;
$green: #45d5a4;
$secundario: #546a87;

//#ECECEC

//Variables tamaño media quieres
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

.div {
   width: 300px;
   height: 300px;
}
